@font-face {
  font-family: 'MyFont';
  src: url('Файлы/Montserrat-VariableFont_wght.ttf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'MyFont', sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: black;
    margin:auto;
    width: 100%;
    max-width: 820px;    
    height: 40px;
    top: 0;
    position: sticky;
    box-shadow: 0 4px 10px rgba(82, 84, 28, 0.503);
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-self: flex-end;
}

.navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    list-style-type: none;
    color: white;
}

.navbar-menu li a {
    color:white;
    text-decoration: none;
    opacity: 0.8;
    border-radius: 20px;
    transition: 0.07s ease-in-out;
}

.navbar-menu li a:hover {
    color:yellow;
    opacity:1;
}

.headline {
    text-align: center;
}

.content {
    max-width: 760px;
    width: 100%;
    margin: auto;
}

.content p {
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0 5px 10px rgb(97, 97, 97);
}

@media all   {

}
